/* Define the dark blue background color */
.bg-dark-blue {
    background-color: #001f3f; /* Dark blue color code */
}

/* Testimonials.css */
.testimonials-container {
    position: relative;
    display: flex;
    padding: 10px;
    border-radius: 8px; 
    background-color: #001f3f; /* Dark blue color */
    width: 100%; 
}

.testimonials-container::-webkit-scrollbar {
    display: none;
}

.testimonial-content {
    display: flex;
    height: 150px; 
}

.testimonial-item {
    min-width: 80%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: white; 
    margin-top: 6rem;
}
